/* Color Theme Swatches in Hex */
.color-1-hex { background-color: #118E87; }
.color-2-hex { color: #D1BAA2; }
.color-3-hex { background-color: #423B3C; }
.color-4-hex { color: #3C948D; }
.color-5-hex { color: #265282; }

* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header"
                        "main"
                        "footer";
}

header {
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  grid-area: header;
}

main {
  font-size: 20px;
  grid-area: main;
  display: flex;
  justify-content: center;
  
}

main div {
  flex-direction: column;
}

footer {
  grid-area: footer;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}

.deleting-icon {
  background: #D50000;
  color: #FFFFFF;
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;  

}

li {
  margin-top: 40px;
  margin-bottom: 40px;
  list-style: none;
  background-color: #D1BAA2;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

input {
  margin-top: 15px;
  display: block;
  width: 200px;
  height: 50px;
}

textarea {
  margin-top: 40px;
  margin-bottom: 40px;
}

button {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  color: #FFFFFF;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  opacity: 0.7;
}

